* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.cell img {
  background-color: transparent;
  width: 50px;
  height: 50px;
}

.white {
  background-color: rgb(207, 201, 190);
  border: 1px solid rgb(207, 201, 190);
}
.black {
  background-color: rgb(80, 83, 83);
  border: 1px solid rgb(80, 83, 83);
}
.currentCell {
  border: 1px solid gold
}
.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: green;
}
.lost {
  height: calc(30vh - 60px);
  padding: 30px;
  margin: 50px;
  background-color: lightgray;
}
.restart {
  background-color: lightgrey;
  padding: 10px;
  border-radius: 10%;
}
.restart:hover {
  cursor: pointer;
}